:root {
  /* color palette */

  --primary-color: #9777FA; 
  --secondary-color: #FF2D55;

  --primary-color-h: #9877fab7; 
  --secondary-color-h: #ff2d53ca;

  --background-color: #ffff;
  
  --text-color-b: #000; 
  --text-color-w: #fff; 

  --padding-size: 15px 220px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}
